Django==6.0.6
djangorestframework==3.14.0
djangorestframework-gis
requests
django[gis]
python-decouple
django-oauth-toolkit==2.2.0
djangorestframework-simplejwt
drf-spectacular
drf-spectacular-sidecar
psycopg2-binary
django-leaflet
django-bootstrap5
django-cors-headers
